<section class="vh-100">
    <div class="container-fluid h-custom mt-5">
      <form appForm [formGroup]="form" (ngSubmit)="onSubmit()" >
        <div class="row d-flex justify-content-center align-items-center h-100">
          
          <div class="col-md-9 col-lg-6 col-xl-5">
          <div class="text-danger fw-bold">
            Register Here
          </div>

            <!-- Name input -->
            <div class="form-outline mb-4 mt-4">
                <input type="text"  [(ngModel)]="doctor.name" formControlName = "name" class="form-control form-control-lg"
                  placeholder="Enter your name" >
                <label class="form-label" >your name</label>
              </div>
      
              <!-- categeory -->
              <div class="form-outline mb-4">
                <input type="text"  [(ngModel)]="doctor.categeory" formControlName = "categeory" required class="form-control form-control-lg"
                  placeholder="Enter your categeory" >
                <label class="form-label" >categeory</label>
              </div>
      
              <!-- Mobile input -->
              <div class="form-outline mb-4">
                  <input type="text"  [(ngModel)]="doctor.mobile_number" formControlName = "mobile_number" required class="form-control form-control-lg"
                    placeholder="Enter your mobile number" >
                  <label class="form-label" >your Mobile Number</label>
                </div>
      
              <!-- timings input -->
              <div class="form-outline mb-4">
                <input type="text"  [(ngModel)]="doctor.timings" formControlName = "timings" class="form-control form-control-lg"
                  placeholder="Enter availabilty Timings" >
                <label class="form-label">Timings</label>
              </div>
        </div>


        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5">

            <!-- experience -->
            <div class="form-outline mb-4 mt-5">
                <input type="text"  [(ngModel)]="doctor.experience" formControlName = "experience" class="form-control form-control-lg"
                  placeholder="Enter experience in years">
                <label class="form-label">Experience</label>
              </div>

              <!-- fee -->
            <div class="form-outline mb-4">
                <input type="text"  [(ngModel)]="doctor.fee" formControlName = "fee" class="form-control form-control-lg"
                  placeholder="Enter Fee" >
                <label class="form-label">Fee</label>
              </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password"  [(ngModel)]="doctor.password" formControlName = "password" class="form-control form-control-lg"
                placeholder="Enter password" >
              <label class="form-label">Password</label>
            </div>

            <div class="form-outline mb-3">
              <input type="text"  [(ngModel)]="doctor.address" formControlName = "address" class="form-control form-control-lg"
                placeholder="Enter address" >
              <label class="form-label">Address</label>
            </div>
            
            <!-- submit-->
            <div class="text-center text-lg-start mt-3 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">SignUp</button>
            </div>
          
  
        </div>
    </div>
</form>
</div>
   
  </section>



