<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

          <div class="text-danger fw-bold">
            Register Here
         </div>

         <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="mt-2">
          <div class="form-group">
            <label for="id">Name</label>
            <input type="text" [(ngModel)]="patient.username" 
              class="form-control form-control-lg" 
              id="name" 
              name="name" 
              placeholder="Enter your name"
              required #name="ngModel">
          </div>
          <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>

          <div class="form-group">
            <label for="name">Contact</label>
            <input type="text" [(ngModel)]="patient.contact" 
              class="form-control form-control-lg" 
              id="name" 
              name="name" 
              placeholder="Enter your name"
              required #contact="ngModel">
          </div>
          <div [hidden]="!contact.pristine" class="alert alert-danger">contact is required</div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" [(ngModel)]="patient.email_id" 
              class="form-control form-control-lg" 
              id="email" 
              name="email" 
              placeholder="Enter your email address"
              required #email="ngModel">
            <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div></div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" [(ngModel)]="patient.password" 
              class="form-control form-control-lg" 
              id="password" 
              name="password" 
              placeholder="Enter your password"
              required #password="ngModel">
            <div [hidden]="!password.pristine" class="alert alert-danger">set password</div>
          </div>
          <button type="submit" [disabled]="!userForm.form.valid" 
            class="btn btn-info">Sign Up</button>
        </form>
        </div>
      </div>
    </div>
    
   
  </section>

