<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

          <div class="text-danger fw-bold">
            Book Appointment
         </div>

          <form appForm [formGroup]="form" (ngSubmit)="onSubmit()" >

            <!-- Name input -->
            <div class="form-outline mb-4 mt-4">
              <input type="text"  [(ngModel)]="appointment.name" id="name" class="form-control form-control-lg"
                placeholder="Enter your name" formControlName = "patient_name" required>
              <label class="form-label" >your name</label>
            </div>

            <!-- Mobile input -->
            <div class="form-outline mb-4">
              <input type="text"  [(ngModel)]="appointment.contact" id="contact" required class="form-control form-control-lg"
                placeholder="Enter your mobile number" formControlName = "contact" required >
              <label class="form-label" >your Mobile Number</label>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email"  [(ngModel)]="appointment.email"   id="emai" class="form-control form-control-lg"
                placeholder="Enter a valid email address" formControlName = "email_id" required>
              <label class="form-label">Email address</label>
            </div>
            
            <!-- submit-->
            <div class="text-center text-lg-start mt-3 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Book Appointment</button>
            </div>
          
  
        </form>
        </div>
      </div>
    </div>
    
   
  </section>

